@font-face{
    font-family: 'TitilliumWeb-Bold';
    src: url('../assets/fonts/TitilliumWeb-Bold.ttf');
}
@font-face{
    font-family: 'TitilliumWeb-Regular';
    src: url('../assets/fonts/TitilliumWeb-Regular.ttf');
}
/* @font-face{
    font-family: 'SourceSansPro-Light';
    src: url(../fonts/SourceSansPro-Light.ttf);
    font-weight: bold;
}
@font-face{
    font-family: 'Open-sans';
    src: url(../fonts/Open-sans.ttf);
} */