
.header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 13px !important;
}

/*logo__wrapper  */

.logo__wrapper {
    display: flex;
    width: 153px;
    height: 108px;
    margin: 18px 18px 0;
}


/*end logo__wrapper  */

.navigation__main {
    /* Style for "Rectangle" */
    height: 71px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.navigation__main-ul {
    /* Style for "Art" */
    height: 15px;
    font-family: Lato, sans-serif;
    background-color: #05aecc;
    letter-spacing: 1.44px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 115px 26px 120px;
}

.navigation__main-link {
    position: relative;
    z-index: 1;
    color: white;
}

.navigation__main-link:hover {
    opacity: 0.8;
    z-index: 9;
}

.header__content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navigation__link {
    color: #0E1D28;
}

.navigation__ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* header__navigation  */

.header__navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header__navigation ul {
    margin: 11px 0 10px;
}

.header__navigation ul li {
    margin-right: 27px;
}

.header__navigation ul li:last-child {
    margin-right: 0;
}

.header__navigation ul li a {
    color: #434343;
    letter-spacing: 1.4px;
}

.header__navigation ul li a:hover {
    opacity: 0.8;
}


/* end header__navigation  */

/*  header__form  */
.header__form {
    width: 100%;
    background-color: #f6f6f6;
    display: flex;
    justify-content: flex-end;
}

.header__form-item {
    height: 89px;
    margin: 1px 5px 1px 0;
    background-color: #05aecc;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 116px;
}

.header__form-item:nth-child(3),
.header__form-item:nth-child(4) {
    width: 142px;
}

.header__form-item img {
    width: 27px;
}

.header__form-item:last-child {
    margin: 0;
}

.navigation__link {
    color: #ffffff;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
}


/*navigation__submenu*/

/*.navigation__main_item {*/
/*    position: relative;*/
/*}*/

.submenu {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.33);
    background-color: #ffffff;
    opacity: 0.9;
    display: flex;
    display: none;
    flex-direction: column;
    top: 50px;
    left: -22px;
    position: absolute;
}

.submenu img {
    height: 76px;
    margin-right: 13px;
}

.submenu::before {
    content: '';
    position: absolute;
    top: -80px;
    left: 0;
    width: 166px;
    height: 71px;
    background-color: #ffffff;
}

.submenu__item {
    display: flex;
    border-bottom: 1px solid #c3c3c3;
    width: 226px;
    height: 95px;
    margin: 19px 19px 0;
}

.submenu__content {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
}

.submenu__content h4 {
    color: #ef5966;
    margin-bottom: 6px;
}

.submenu__content p {
    color: #454545;
    font-size: 14px;
    letter-spacing: 0;
    margin-bottom: 6px;
}

.submenu__content a {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    background-color: #05aecc;
    padding: 4px 18px;
}

/*end navigation__submenu*/

.header__burger {
    display: none;
    width: 40px;
    height: 28px;
    position: relative;
    cursor: pointer;
}

.burger__line {
    display: block;
    width: 100%;
    height: 4px;
    background-color: black;
    position: absolute;
    left: 0;
}

.burger__line_first {
    top: 0;
}

.burger__line_second {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.burger__line_third {
    bottom: 0;
}

/* Header styles end */


/* Media start */

.header__nav-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -225px;
    right: 55px;
    cursor: pointer;
}

.header__nav-close-line {
    background-color: black;
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    z-index: 111;
}

.header__nav-close-line:first-child {
    -webkit-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
}

.header__nav-close-line:last-child {
    -webkit-transform: translateY(-50%) rotate(-45deg);
    -ms-transform: translateY(-50%) rotate(-45deg);
    transform: translateY(-50%) rotate(-45deg);
}


@media screen and  (min-width: 767px) {
    .header__content {
        display: flex;
        z-index: 9999999;
    }

    .header__nav-close {
        display: none;
    }
}

@media screen and  (max-width: 767px) {

    .header-wrapper {
        background-color: #f6f6f6;
    }

    .header__burger {
        display: flex;
        position: absolute;
        right: 20px;
        top: 50px;
    }

    .header__burger:hover > .burger__line, .header__burger:focus > .burger__line {
        background-color: #717171;
    }

    .header__content {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #f6f6f6;
        z-index: 10;
        padding: 5px;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transition: .2s all linear;
        -o-transition: .2s all linear;
        transition: .2s all linear;
    }

    .header__nav_active {
        display: flex;
        flex-direction: column;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    .navigation__ul, .header__form, .header__navigation {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .navigation__link {
        color: #434343;
        z-index: 99;
    }

    .header__navigation {
        position: absolute;
        left: 30px;
        top: 20px;
    }

    .header__form-ul, .header__form {
        position: absolute;
        left: 30px;
        top: 270px;
        border-top: 2px solid black;
        padding-top: 1em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .navigation__link {
        font-size: 2em;
    }

    .header__form-item {
        height: 36px;
        background-color: transparent;
        margin: 0;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .header__form-item img {
        display: none;
    }
}

/* Media end */

.display-none {
    display: none;
}

