.header {
    display: flex;
    flex-direction: column;
    background: url(../assets/images/header_layer.png) center no-repeat;
    height: 795px;
    background-position: 50% 0%;
}

.header-top {
    display: flex;
    justify-content: center;
    margin: 81px 0 117px 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.color-gray {
    color: rgb(133, 134, 136);
}

.color-violet {
    color: rgb(91, 66, 149);
}

.nav-left__logo {
    font-size: 1.85em;
    text-decoration: none;
}

.nav-left__logo_mod {
    text-decoration: none;
}

.nav-right,
.nav-right__list {
    display: flex;
}
.nav-right__link {
    position: relative;
}

.nav-right__navigation {
    display: flex;
    align-items: center;
}

.nav-right__link {
    margin: 0 13px;
    text-decoration: none;
    letter-spacing: 0.1px;
}


.nav-right__link:hover {
    color: rgb(0, 0, 0);
}

.c-69 {
    color: rgb(69, 69, 69);
}

.nav-right__authorization {
    display: flex;
    align-items: center;
    margin-left: 62px;
}

.nav-right__login {
    display: flex;
}

.nav-right {
    margin: 0;
}

.ff-bold {
    font-family: 'TitilliumWeb-Bold';
}

.ff-regular {
    font-family: 'TitilliumWeb-Regular';
}

.nav-right__icon {
    margin-right: 10px;
    position: relative;
    top: 2px;
    font-size: 14px;
}

.nav-right__registration {
    margin-left: 23px;
}

.nav-right__button {
    background: #582c7e;
    padding: 9px 21px;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
    background: -moz-linear-gradient(-45deg, #582c7e 0%, #6272c8 99%);
    background: -webkit-linear-gradient(-45deg, #582c7e 0%, #6272c8 99%);
    background: linear-gradient(135deg, #582c7e 0%, #6272c8 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#582c7e', endColorstr='#6272c8', GradientType=1);
    transition: 0.2s;
}

.nav-right__button:hover {
    -webkit-box-shadow: 0px 8px 13px 1px rgba(104, 125, 189, 1);
    -moz-box-shadow: 0px 8px 13px 1px rgba(104, 125, 189, 1);
    box-shadow: 0px 8px 13px 1px rgba(104, 125, 189, 1);
    transition: 0.2s;
}

.c-149 {
    color: rgb(149, 149, 149);
}

.select-language__list {
    display: flex;
}

.select-language__link {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.2px;
}

.select-language__link:hover {
    font-family: 'TitilliumWeb-Bold';
    text-decoration: underline;
    transition: 0.2s;
}

.select-language {
    margin-top: 20px;
    letter-spacing: 1.6px;
}

.header-bottom,
.header-up,
.header-middle,
.header-elements {
    display: flex;
    justify-content: center;
}
.header-elements {
    margin-top: 75px;
    align-items: center;
}

.header-middle__subtitle {
    font-size: 36px;
}
.f-sbold {
    font-family: 'TitilliumWeb-SemiBold';
}
.header-up__title {
    letter-spacing: 0.5px;
    text-decoration: none;
    margin-bottom: 17px;
}

.c-red {
    color: rgb(252, 32, 40);
}

.bg-purple {
    background-color: rgb(123, 81, 127);
}

.header-elements__button {
    text-align: center;
    position: relative;
    margin: 0 10.5px;
    color: #fff;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    font-size: 22px;
    text-decoration: none;
    z-index: 1;
}

.button {
    border-radius: 35px;
    padding: 20px 63px;
    margin:0 12.5px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    letter-spacing: 0.4px;
    background: #646c92;
    background: -moz-linear-gradient(left, #646c92 0%, #5f2f6a 100%);
    background: -webkit-linear-gradient(left, #646c92 0%, #5f2f6a 100%);
    background: linear-gradient(to right, #646c92 0%, #5f2f6a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#646c92', endColorstr='#5f2f6a', GradientType=1);
    z-index: 1;
    -webkit-box-shadow: 0px 17px 43px -12px rgba(66,126,245,1);
    -moz-box-shadow: 0px 17px 43px -12px rgba(66,126,245,1);
    box-shadow: 0px 17px 43px -12px rgba(66,126,245,1);
    transition: 0.3s;
}
.button:hover {
    background: -moz-linear-gradient(left, #5f2f6a 0%, #646c92 100%);
    background: -webkit-linear-gradient(left, #5f2f6a 0%, #646c92 100%);
    background: linear-gradient(to right, #5f2f6a 0%, #646c92 100%);
    transition: 0.3s;
}
.vrt-a { 
    /* вертикальное выравнивание для кнопок шапки */
    position: relative;
    top: 12px;
}
.header-image {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 34px;
}
.header-shadow {
    display: flex;
    justify-content: center;
    position: relative;
    right: 75px;
    bottom: 90px;
}
.social {
    position: absolute;
    z-index: 1;
    top: 323px;
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: flex-end;
}
.social__link {
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 15px;
}
.social__networks {
    display: flex;
    flex-direction: column;
    margin-right: 34px;
}
.c-103 {
    color: rgb(103, 103, 102);
    transition: 0.2s;
}
.c-103:hover {
    transition: 0.2s;
    color : rgb(91,66,149);
}
.nav-right__link span {
	position: absolute;
	padding: 16px 15px;
	width: 100%;
	border: 1px solid transparent;
	right: -17px;
	top: -5px;
	border-radius: 24px;
	transition: .3s;
}

.nav-right__link:hover span {
	width: 100%;
	padding: 16px 15px;
	border: 1px solid black;
	border-radius: 24px;
	transition: .3s;
}

 

/* 
.header__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .35);
}
.header-overlay__2 {
    display: flex;
    align-items: flex-end;
	background: url(../assets/images/header_layer_bottom-part.png) center bottom no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	height: 918px;
    border: 1px solid black;
} */
@media screen and (max-width: 992px) {
    .select-language {
        margin-top: 10px;
    }

    .nav-right__link {
        margin: 0 7px;
        font-size: 14px;
    }

    .nav-right__registration {
        margin-left: 15px;
    }

    .nav-right__authorization {
        margin-left: 30px;
    }

    .nav-right__button {
        background: #582c7e;
        font-size: 12px;
        padding: 9px 16px;
        border-radius: 30px;
    }

    .nav-right__navigation {
        margin-left: 30px;
    }

    .select-language__link {
        font-size: 12px;
    }

    .nav-right__login {
        position: relative;
        font-size: 12px;
        top: 2px;
    }
}