.header {
    margin-bottom: 13px;
    /*background-color: #f6f6f6;*/
}

/*logo__wrapper  */

.logo__wrapper {
    display: flex;
    width: 153px;
    height: 108px;
    margin: 18px 18px 0;
}


/*end logo__wrapper  */


.navigation__main {
    /* Style for "Rectangle" */
    height: 71px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.navigation__main-ul {
    /* Style for "Art" */
    height: 15px;
    color: #ffffff;
    font-family: Lato, sans-serif;
    background-color: #05aecc;
    font-size: 16px;
    font-weight: 400;
    /*color: #ef5966;*/
    letter-spacing: 1.44px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0 26px;
    margin: 0 auto;
}

.navigation__main-ul li a {
    position: relative;
    z-index: 999;
}

.navigation__main-ul li a:hover {
    opacity: 0.8;
    z-index: 999;
}

.navigation__main-link {
    z-index: 22;
}

.header__content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navigation__link {
    color: #0E1D28;
}

.navigation__ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* header__navigation  */

.header__navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    /*height: 15px;*/
    color: #434343;
}

.header__navigation ul {
    width: 520px;
    margin: 11px 0 8px;
}

.header__navigation ul li {
    margin-right: 27px;
}

.header__navigation ul li:last-child {
    margin-right: 0;
}

.header__navigation ul li a {
    color: #434343;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.4px;
}

.header__navigation ul li a:hover {
    opacity: 0.8;
}


/* end header__navigation  */

/*  header__form  */
.header__form {
    /*width: 980px;*/
    height: 91px;
    background-color: #f6f6f6;
    display: flex;
    justify-content: flex-end;
}

.header__form_item {
    height: 89px;
    margin: 1px 0;
    background-color: #05aecc;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    width: 116px;
}

.header__form_item:nth-child(3),
.header__form_item:nth-child(4) {
    width: 142px;
}

.header__form_item a {
    padding: 0 15px 0;
}


.header__form_item img {
    width: 27px;

}

.header__form_item:last-child {
    margin: 0;
}

.header__form_item a {
    color: #ffffff;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
}

.header__form_item a:hover {
    opacity: 0.8;
}

.header__form_item-red {
    background-color: #f0626e;
}


/*navigation__submenu*/

.navigation__main_item {
    position: relative;
}

.submenu {
    width: 263px;
    height: 388px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.33);
    background-color: #ffffff;
    opacity: 0.9;
    display: flex;
    /*display: none;*/
    flex-direction: column;
    /*position: absolute;*/
    top: 50px;
    left: -22px;
    position: absolute;
}

.submenu img {
    width: 72px;
    height: 76px;
    margin-right: 13px;
}

.submenu::before {
    content: '';
    position: absolute;
    top: -80px;
    left: 0;
    width: 166px;
    height: 71px;
    background-color: #ffffff;
}

.submenu__item {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #c3c3c3;
    width: 226px;
    height: 95px;
    margin: 19px 19px 0;
}

.submenu__content {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
}

.submenu__content h4 {
    color: #ef5966;
    font-size: 16px;
    margin-bottom: 6px;
}

.submenu__content p {
    color: #454545;
    font-size: 14px;
    letter-spacing: 0;
    margin-bottom: 6px;
}

.submenu__content a {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    background-color: #05aecc;
    padding: 4px 18px;
}

/*end navigation__submenu*/
