
@media screen and (max-width: 1200px) {
    .container {
        width: 960px;
    }
}
@media screen and  (max-width: 992px) {
    .container {
        width: 720px;
    }
}
@media screen and  (max-width: 768px) {
    .container {
        width: 540px;
    }
    .header-menu__navigation {
		z-index: 1;
		width: 0px;
	}
}
@media screen and  (max-width: 576px) {
    .container {
        width: 100%;
    }
}
@media screen and  (min-width: 1200px) {
    .container {
        width: 1400px;
    }
}