.section-slider {
    padding-top: 226px;
}

.slider {
    display: grid;
    justify-content: center;
    grid-template-columns: 670px 494px;
    grid-template-rows: auto;
    grid-template-areas:
        "m w"
        "m k";
    grid-gap: 5px;
}


.men {
    display: flex;
    align-items: flex-end;
    background-image: url("/assets/images/men\'s\ wear.png");
    background-repeat: no-repeat;
    grid-area: m;
    padding-bottom: 12px;
}

.men-info {
    width: 348px;
}

.women-info {
    width: 267px;
}

.men-info__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #362a4f;
    opacity: 0.8;
    height: 105px;
}

.men-info__article-title {
    color: #ef5966;
    font-family: "Aparajita";
    font-size: 58px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 13px;
    letter-spacing: 1.5px;
}

.men-info__article-description {
    position: relative;
    bottom: 8px;
    color: #ffffff;
    font-family: "Lato-Bold";
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 22px;
    letter-spacing: 0.26px;
}


.men-info__theme {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ef5966;
    height: 41px;
    opacity: 0.88;
    margin-top: 2px;
}

.men-info__theme-text {
    letter-spacing: 0.43px;
    color: #ffffff;
    font-family: "Aparajita";
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    /* margin: 10px 14px 12px 15px; */
}

.women {
    display: flex;
    align-items: flex-end;
    grid-area: w;
    height: 320px;
    background-image: url("/assets/images/women\'s\ wear.png");
}

.women-info {
    margin-bottom: 8px;
}

.women-info__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 83px;
    background-color: #362a4f;
    opacity: 0.8;
}

.women-info__article-title {
    color: #ef5966;
    font-family: "Aparajita";
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 13px;
    letter-spacing: 1.5px;
}

.women-info__article-description {
    position: relative;
    bottom: 6px;
    color: #ffffff;
    font-family: "Lato-Bold";
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 16px;
    margin-right: 10px;
    letter-spacing: 0.26px;
}

.kid {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    grid-area: k;
    height: 245px;
    background-image: url("/assets/images/kid.png");
}

.kid__panel {
    display: flex;
    margin-bottom: 28px;
    height: 55px;
}

.kid__panel_baby-shop-button,
.kid__panel_gift-button,
.kid__panel_cart-button,
.kid__panel_price {
    display: flex;
    justify-content: center;
    align-items: center;
}

.kid__panel_baby-shop-button {
    background-color: #05aecc;
    text-decoration: none;
    color: #ffffff;
    font-family: "Lato-Regular";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.44px;
    width: 103px;
}

.kid__panel_gift-button {
    background-color: #00a1be;
    width: 53px;
}

.kid__panel_cart-button {
    background-color: #f0626e;
    width: 53px;
}

.kid__panel_price {
    padding-top: 15px;
    display: inline-block;
    background-color: #323232;
    color: #ffffff;
    font-family: "Lato-Regular";
    font-size: 24px;
    font-weight: 400;
    width: 86px;
    text-align: center;
}
.dollar-symbol {
    font-size: 16px;
}
.super-line {
    vertical-align:super;
    font-size: 12px;
}