.section-slider {

}

.slider {
    font-size: 1em;
    display: grid;
    justify-content: center;
    grid-template-columns: 670px 494px;
    grid-template-rows: auto;
    grid-template-areas:
        "m w"
        "m k"
        "s j"
        "c j";
    grid-gap: 5px;
}


.men {
    display: flex;
    align-items: flex-end;
    background-image: url("../assets/images/men\'s\ wear.png");
    background-repeat: no-repeat;
    grid-area: m;
    padding-bottom: 12px;
}

.men-info {
    width: 348px;
}

.women-info {
    width: 267px;
}

.men-info__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #362a4f;
    opacity: 0.8;
    height: 105px;
}

.men-info__article-title {
    color: #ef5966;
    font-family: "Aparajita";
    font-size: 3.625em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 13px;
    letter-spacing: 1.5px;
}

.men-info__article-description {
    position: relative;
    bottom: 8px;
    color: #ffffff;
    font-family: "Lato-Bold";
    font-size: 0.8125em;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 22px;
    letter-spacing: 0.26px;
}


.men-info__theme {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ef5966;
    height: 41px;
    opacity: 0.88;
    margin-top: 2px;
}

.men-info__theme-text {
    letter-spacing: 0.43px;
    color: #ffffff;
    font-family: "Aparajita";
    font-size: 1.25em;
    font-weight: bold;
    text-transform: uppercase;
    /* margin: 10px 14px 12px 15px; */
}

.women {
    display: flex;
    align-items: flex-end;
    grid-area: w;
    height: 320px;
    background-image: url("../assets/images/women\'s\ wear.png");
}

.women-info {
    margin-bottom: 8px;
}

.women-info__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 83px;
    background-color: #362a4f;
    opacity: 0.8;
}

.women-info__article-title {
    color: #ef5966;
    font-family: "Aparajita";
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 13px;
    letter-spacing: 1.5px;
}

.women-info__article-description {
    position: relative;
    bottom: 6px;
    color: #ffffff;
    font-family: "Lato-Bold";
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 16px;
    margin-right: 10px;
    letter-spacing: 0.26px;
}

.kid {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    grid-area: k;
    height: 245px;
    background-image: url("../assets/images/kid.png");
}

.kid__panel {
    display: flex;
    margin-bottom: 28px;
    height: 55px;
}

.kid__panel_baby-shop-button,
.kid__panel_gift-button,
.kid__panel_cart-button,
.kid__panel_price {
    display: flex;
    justify-content: center;
    align-items: center;
}

.kid__panel_baby-shop-button {
    background-color: #05aecc;
    text-decoration: none;
    color: #ffffff;
    font-family: "Lato-Regular";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.44px;
    width: 103px;
}

.kid__panel_gift-button {
    background-color: #00a1be;
    width: 53px;
}

.kid__panel_cart-button {
    background-color: #f0626e;
    width: 53px;
}

.kid__panel_price {
    padding-top: 15px;
    display: inline-block;
    background-color: #323232;
    color: #ffffff;
    font-family: "Lato-Regular";
    font-size: 24px;
    font-weight: 400;
    width: 86px;
    text-align: center;
}
.dollar-symbol {
    font-size: 16px;
}
.super-line {
    vertical-align:super;
    font-size: 12px;
}
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: s;
    height: 171px;
    background-color: #f0626e;
}
.search-line {
    width: 485px;
    height: 71px;
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.19);
    text-align: center;
    color: #c2c2c2;
    font-family: "Lato-Bold";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.44px;
}
.search-button {
    margin-left: 21px;
}
.jewelry {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    grid-area: j;
    background-image: url("../assets/images/jewelry-bg.png");
}
.jewelry-article {
    display: flex;
    flex-direction: column;
    width: 87px;
    height: 396px;
    background-color: rgba(54, 42, 79, 0.58);
}
.jewelry-article__text {
    position: relative;
    top: 201px;
    left: 8px;
    font-family: "Aparajita";
    font-size: 66px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    transform: rotate(-90deg);
}
.jewelry-article__image {
    position: relative;
    width: 97px;
    top: 18px;
    right: 10px;
    opacity: 1;
}
.crafts {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    grid-area: c;
    background-image: url("../assets/images/crafts.png");
    height: 335px;
}
.crafts-panel {
    margin: 0px;
}
.crafts__panel_crafts-button {
    display: flex;
    background-color: #362a4f;
    opacity: 0.8;
    color: #ffffff;
    font-family: "Lato-Regular";
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    width: auto;
    padding: 0 39px;
}
.crafts__panel_price {
    padding: 15px 10px 0px 10px;
}

@media screen and (max-width: 1200px) {
    .slider {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
                "m m"
                "w k"
                "s s"
                "c j";
        grid-gap: 5px;
    }
    .kid {
        background-size: 120% 100%;
        background-repeat: no-repeat;
        height: auto;
    }
    .men {
        grid-column-start: 1;
        grid-column-end: 3;
        background-size: cover;
        height: 570px;
    }
    .crafts {
        height: auto;
        background-size: cover;
    }
}

@media screen and  (max-width: 992px) {
    .slider {
        grid-gap: 3px;
    }
    .kid {
        background-size: cover;
        background-position-x: center;
    }
    .kid__panel {
        margin-bottom: 10px;
        height: 40px;
    }
    .kid__panel a img {
        width: 20px;
    }
    .kid__panel_baby-shop-button {
        font-size: 15px;
    }
    .kid__panel_price {
        padding-top: 10px;
        font-size:18px;
    }
    .jewelry-article {
        position: relative;
        right: 4px;
    }
    .search {
        height: 110px;
    }
}

@media screen and (max-width: 800px) {
    .slider {
        grid-template-columns: 90%;
        grid-template-rows: auto;
        grid-template-areas:
                "m"
                "w"
                "k"
                "s"
                "c"
                "j";
        grid-gap: 5px;
    }
    .men {
        grid-column-start: 1;
        grid-column-end: 1;
    }
    .women {
        background-size: cover;
    }
    .kid {
        background-size: cover;
        height: 320px;
    }
    .search-line {
        height: 47px;
        font-size: 15px;
    }
    .search-button {
        width: 40px;
    }
    .crafts {
        height: 335px;
    }
    .jewelry {
        background-size: cover;
    }
 }